<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="main pt-20">
        <div class="logo w-full bg-[#f8b500] h-17 ">
            <a href="/ " class=" text-3xl py-6">Laundry Portal</a>
            <div class="rights text-right px-2">@ all rights reserved to the <b>Laundry Portal</b><sup>©</sup></div>
        </div>
</body>

</html>