<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Laundry | Home Services</title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet" />
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="font-['helvetica_now_display']">

    <nav class="">
        <div class="main">
            <div class="logo w-full bg-[#f8b500] h-12">
                <a href="/ " class=" text-3xl py-10 " >Laundry Portal</a>
                <a href="/logout" class="logout "><button type="button">Logout</button></a>
            </div>
        </div>
        <!-- <h3 class="text-xl">Laundry Portal</h3> -->

    </nav>

</body>