<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Laundry | Home Services</title>
    <!-- favicon -->
    <link rel="shortcut icon" href="./favicon.png" type="image/x-icon">
    <!-- locomotive css  -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.css">
    <!-- shery css  -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/aayushchouhan24/sheryjs@main/dist/Shery.css" />
    <!-- remixicon cdn  -->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
    <!-- css file  -->
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/about.css">
    <!-- Remmix Icons -->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.1.0/fonts/remixicon.css" rel="stylesheet"/>
    <script src="https://cdn.tailwindcss.com"></script>

    <style>
        .about{
            width: 100%;
            position: relative;
            margin: 13vh 0.17vw;
            margin-bottom: 0;
            padding-bottom: 82.5px;
            overflow: hidden;
        }
        .aboutCards{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
        }
        .aboutCard{
            width: 20%;
            height: 65%;
            padding: 1vw 1.6vw;
            /* background-color: #a9a9a9; */
            text-align: center;
            line-height:30px;
            border: 1px solid #000;
            /* border-radius: 20px; */
        }
        .aboutCard img {
            width: 100%;
            height: 70%;
            object-fit: cover;
            object-position: center;

        }
        .aboutCard p{
            font-size: 1.2vw;
            line-height: 20px;
        }
    </style>
</head>
<body>

    <div class="main">
        <nav class="navbar">
            <div class="menu-toggle">
                <i class="ri-menu-2-line"></i>
            </div>
            <div class="logo">
                
                <a href="/">Laundry <span>Portal</span></a>
            </div>
            <ul class="menu">
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/services">Services</a></li>
                <!-- <li><a href="./order.html">Order</a></li> -->
                <!-- <li><a href="./team.html">Team</a></li> -->
                <li><a href="/contact">Contact</a></li>
                <li><a href="/products">Products</a></li>
            </ul>
            <div class="nav-btn menus" style="display: flex;">
                <% if (isLoggedIn) { %>
                    <a href="/order"><button type="submit">Order Now</button></a>
                    <a href="/profile"> <div class="pmenu relative"><img class="w-10 h-10 bg-[#f8b500] rounded-full ml-3" src="../images/user.png" alt="profile"></a>
                <div class="profile"><div class="pro-left"></div></div>
                <% } else { %>
                    <a href="/login"><button type="button">Login</button></a>
                    <a href="/signup"><button type="button">SignUp</button></a>
                <% } %>
            </div>
        </nav>
        <div class="about">
            <div class="aboutCards">
                <div class="aboutCard">
                    <img src="/images/user.png" alt="">
                    <h2>Mudasir Khan</h2>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aperiam, praesentium?</p>
                </div>
                <div class="aboutCard">
                    <img src="/images/user.png" alt="">
                    <h2>Waqas</h2>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aperiam, praesentium?</p>
                </div>
                <div class="aboutCard">
                    <img src="/images/user.png" alt="">
                    <h2>Mustafa</h2>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aperiam, praesentium?</p>
                </div>
                <div class="aboutCard">
                    <img src="/images/user.png" alt="">
                    <h2>Imran</h2>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aperiam, praesentium?</p>
                </div>
            </div>
        </div>
        <div class="footer" data-scroll>
            <div class="left">
                <div class="line1">
                    <a href="">LAUNDRY</a>
                    <a href=""> About</a>
                    <a href=""> Help Center</a>
                    <a href=""> Cancellation option</a>
                </div>
                <div class="line2">
                    <a href="">CONNECT WITH US</a>
                    <a href="">Facebook</a>
                    <a href="">Whatsapp</a>
                    <a href="">Instagram</a>
                    <a href="">Twitter</a>
                </div>
            </div>
            <div class="right">
                <h2>2024 Laundry</h2>
                <a href="">Terms of Service </a>-<a href=""> Privacy Policy</a>
            </div>
       </div>
    </div>

    <!-- locomotive js  -->
<script src="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.js"></script>

<!-- gsap cdn  -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"
    integrity="sha512-16esztaSRplJROstbIIdwX3N97V1+pZvV33ABoG1H2OyTttBxEGkTsoIVsiP1iaTtM8b3+hu2kB6pQ4Clr5yug=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    
<!-- scrolltrigger cdn  -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/ScrollTrigger.min.js"
    integrity="sha512-Ic9xkERjyZ1xgJ5svx3y0u3xrvfT/uPkV99LBwe68xjy/mGtO+4eURHZBW2xW4SZbFrF1Tf090XqB+EVgXnVjw=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<!-- Three JS cdn  -->
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/0.155.0/three.min.js"></script> -->

<!-- controlKit for debunging -->
<script src="https://cdn.jsdelivr.net/gh/automat/controlkit.js@master/bin/controlKit.min.js"></script>

<!-- Shery JS cdn  -->
<script type="text/javascript"
    src="https://cdn.jsdelivr.net/gh/aayushchouhan24/sheryjs@main/dist/Shery.js"></script>

<!-- JavaScript file  -->
<script src="script.js"></script>

</body>
</html>