* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body,
html {
    width: 100%;
    height: 100%;
}

.main{
    position: relative;
}

.main .register-form{
    position: relative;
    background-color: #20202020;
    padding: 19vh 17vw;
    width: 100%;
    height: 100vh;
    display: flex;

}
.reg-right .ghost:hover{
    color: #ffcd42;
    border-color: #ffcd42;
}
.register-form .reg-left {
    width: 50%;
    height: 66vh ;
    background-color: #fff;
    border-radius: 0px 20px  20px 0px ;
    padding: 13vh 4vw;
}

.reg-left h2 {
    font-size: 2vw;
    letter-spacing: -1px;
    font-weight: 900;
    text-align: center;
}

.form-option {
    display: flex;
    /* width: 100%; */
    margin-top: 1vw;
    padding: 0 25px;
    height: 50px;
    align-items: center ;
    justify-content: center;
    border-bottom: 1px solid #eee ;
    border-radius: 50px;
    background-color: rgb(241, 241, 241);
}

.form-option>label> i {
    
    font-size: 1.3vw;
    color: #000;
}
.form-option> input {

    background-color: transparent;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 95%;
    outline: none;
    padding-left: 15px;
    border-bottom-width: 2px;
}

form> input{
    background-color: #ffcd42;
    outline: none;border: none;
    width: 100%;
    height: 3vw;
    border-radius: 50px;
    color: #000;
    margin-top: 20px;
}
form> input:hover{
    background-color: #ffbb00;
    
}

.reg-left .pass {
    display: flex;
    align-items: flex-start;
    margin-top: 8px;
    margin-bottom: 5px;
}

.reg-left .pass a {
    text-decoration: none;
    color: #000;
    opacity: 0.7;
    text-align: center;
    }
.reg-left .pass a:hover{
    opacity: 1;
    font-weight: 600;
} 

.reg-left .forg {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 3px;
    display: none;
    
}

.forg a {
text-decoration: none;
color: #000;
opacity: 0.7;
}

.register-form .reg-right {
    width: 50%;
    height: 66vh;
    background-color: #000;
    border-radius: 20px 0px  0px 20px ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    padding: 19.9vh 3vw;
}

.reg-right p{
    font-size: 1.2vw;
	font-weight: 100;
	line-height: 20px;
	letter-spacing: 0.5px;
	margin: 20px 0 30px;
    text-align: center;
}

.reg-right button{
    background-color: transparent;
    padding: 1.5vh 2.5vw;
    font-size: 1.3vw;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 50px ;
    text-transform: uppercase;
}
.reg-left .auth-txt{
    margin-top: 5px;
}
.reg-left .auth{
    width: 100%;
    display: flex;
    /* flex-direction: column; */
    align-items: left;
    justify-content: left;
    
}
.reg-left .log-goo {
    width: 100%;
    flex-wrap: wr;
    width: calc(70% - 50px);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;    
    gap: 5px;
    margin-top: 10px;
    
}

